div.content > div.footer > #txt {
    text-align : right;    
    height: 5%;
    padding-top: 7px;
}

.list-group > a{
    background-color :  #2D3E52;
    color : #ffffff;
    border-radius: 0px;
    border:#2D3E52;
    display: block;
}

.menubar > a > .menuHeader > .row > .col-md-8 > h1{
    height: 15%;
    background-color: #151e29;
    margin: 0px;
    padding-top: 5%;
    font-style: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

table {
    width: 100%;
    height: 100%;
    margin-bottom: -10px;
    border-radius: 0px;
    overflow: auto; 
    border: 0.5px solid #2D3E52;
}

tr {
    border: 0.5px solid #2D3E52;
}

th{
    border: 0.5px solid #2D3E52;
    height: 34px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 14px;
    color: #fff;
    background-color :  #2D3E52;
}

td{
    /*border: 0.5px solid black;*/
    height: 34px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
}

hr {
    border: 1px solid #2D3E52;
    color: black;
}

a {
    color: #333;
    text-decoration: none;
}

.glyphicon-home{
    padding-top: 5%;
    font-size: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.form-control{
  border-radius: 0px;
  border: 0.5px solid #2D3E52;
}

.control-label,p,h1,h2,h3,h4,h5{
    font-family: "Times New Roman", Times, serif;
}

.layoutpage > h2{
	margin-top: 0px;
    margin-bottom: 0px;
}

.on-rigth{
    text-align: right;
}
.on-center{
    text-align: center;
}
.on-left{
    text-align: left;
}
.on-nonborder{
    border: none;
}


