html,body{
    height: 100% !important;
    min-height : 100% !important;
    background-color :#d6d6c2;
    margin-bottom: 0px;
    line-height:1;
}

body > .menubar {
    line-height : 30px;
    color : #ffffff;
    background-color :  #2D3E52;
    width : 22% !important;
    float : left;
    padding : 0px;
    border : 1px solid black;
    display : block;
    min-height : 100%; /* real browsers */
    height : auto !important;  
    height : 100%; /* IE6 bug */
    margin-bottom : -20px; /* กำหนด margin-bottom ให้ติดลบเท่ากับความสูงของ footer */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}


.menubar > a > .menuHeader > .rowhead{
    padding-top: 4%;
    padding-bottom: 3%;
    height: 0%;
    background-color: #151e29;
    color: #ffffff;
    margin: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

body > .content {
    width:78%;
    float:left;
    padding-bottom : 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    height: 96%;
    background-color: #f5f5f0;
    vertical-align: baseline;
    overflow: auto;
}

 div.content > div.footer {
    position: absolute;
    top: 96%;
    right: 20px;
    width: 76.5%;
    height: 3%;
}

span.badge{
    background-color:  red;
}

.button {
    background-color: #669999;
    border: none;
    color: black;
    height: 8%;
    width: 105%;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; 
    padding: 15px 32px; 
    padding-left: 10px;
    padding-right: 20px;  
    margin: 4px 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.button > p{
  float:right;
  width : 80%;
  padding-top: 40%;
  padding-left: -20px;
  padding-right: -10px;
  word-wrap:break-word;
  color: #000000;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.button > .iconP{
  float:left;
  padding-bottom: 100px;
  width: 20px;
  height: 20px;
}

.button > .iconP > .glyphicon{
  font-size: 45px;
}

.row{
  vertical-align: left;
  padding-left:0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-left: -15px;
  margin-right: 0px;
}

