<style>
.row{
  vertical-align: left;
  padding-left:0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-left: -15px;
  margin-right: 0px;
}
</style>
  <div class="row">
    <div class="col-md-3">
      <a ui-sref="AddAsset" ui-sref-opts="{reload:true}" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-time'></div>
        </div>   
        <p>สร้างวัสดุอุปกรณ์</p>
      </a>
    </div>
    <div class="col-md-3"> 
      <a href="#" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-refresh'></div>
        </div>   
        <p>แก้ไขวัสดุอุปกรณ์</p>
      </a>
    </div>
    <div class="col-md-3"> 
      <a href="#" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-time'></div>
        </div>   
        <p>สร้างบาร์โค้ด</p>
        </a>
    </div>
    <div class="col-md-3"> 

    </div>
  </div>
<!--######################################################-->
  <div class="row">
    <div class="col-md-3">
      
    </div>
    <div class="col-md-3"> 
      
    </div>
    <div class="col-md-3"> 
      
    </div>
    <div class="col-md-3"> 
      
    </div>
  </div>
</div>