<style>
.row{
  vertical-align: left;
  padding-left:0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-left: -15px;
  margin-right: 0px;
}
</style>
  <div class="row">
    <div class="col-md-3">
      <a href="#" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-time'></div>
        </div>   
        <p>รายงานปิดวันทำการ</p>
      </a>
    </div>
    <div class="col-md-3"> 
      <a href="#" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-refresh'></div>
        </div>   
        <p>รายงานระหว่างรอบงาน</p>
      </a>
    </div>
    <div class="col-md-3"> 
      <a href="#" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-time'></div>
        </div>   
        <p>รายงานรายจ่ายต่อวัน</p>
        </a>
    </div>
    <div class="col-md-3"> 
      <a href="#" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-cog'></div>
        </div>   
        <p>รายงานรายได้ต่อวัน</p>
      </a>
    </div>
  </div>
<!--######################################################-->
  <div class="row">
    <div class="col-md-3">
      <a href="#" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-time'></div>
        </div>   
        <p>รายงานรวมรายจ่าย/เดือน</p>
      </a>
    </div>
    <div class="col-md-3"> 
      <a href="#" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-refresh'></div>
        </div>   
        <p>รายงานรวมรายได้/เดือน</p>
      </a>
    </div>
    <div class="col-md-3"> 
      <a href="#" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-time'></div>
        </div>   
        <p>รายงานรวมรายจ่าย</p>
        </a>
    </div>
    <div class="col-md-3"> 
      <a href="#" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-cog'></div>
        </div>   
        <p>รายงานรวมรายได้</p>
      </a>
    </div>
  </div>
</div>