<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>TextMining</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">

	<link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="./css/main.css"> 
	<link rel="stylesheet" type="text/css" href="./node_modules/angular-material/angular-material.css">	

	<link rel="stylesheet" type="text/css" href="./css/form-ctrl.css">
	<link rel="stylesheet" type="text/css" href="./node_modules/angular-theme-spinner/dist/angular-theme-spinner.min.css">

  </head>
	<body ng-app="myApp"  onload="startTime()">
		<div class="menubar"> 
			<a ui-sref="homepage" ui-sref-opts="{reload:true}" >
				<div class="menuHeader">
					<div class="row rowhead">
						<div class="col-md-4">					
							<div class='glyphicon glyphicon-home'></div>
						</div>
						<div class="col-md-8"> <h1><b>NG-POS</b></h1> </div>
	          		</div>
				</div> 
			</a>
			<div class="menuC" ng-controllers = "kmeans"> 
				<div ui-view = "MenuAddAsset"></div>  
				<div ui-view = "MenuOrder"></div> 
				<div ui-view = "BlackToHome"></div>
			</div>
		</div>  
		   

		<div class="content" ng-controller = "kmeans">	
			
			<div ui-view = "evalution"></div>  
			<div ui-view = "clustering"></div>
			<div ui-view = "homepage"></div>
			<div ui-view = "ReportAll"></div>
			<div ui-view = "AssetAll"></div>
			<div ui-view = "AddAsset"></div>
			<div ui-view = "Order"></div>
			<div ui-view = "addemployee"></div>
			<div ui-view = "AddItem"></div>
		
			<!--<div ng-model = "strCtrlContent" ui-view = "{{strCtrlContent}}"></div>-->
			<div class="footer">
				<div id="txt" style = 'font-size: 0.875em;line-height: 0.7;'></div>
			</div>
		</div>   
		
    <!--<h1>Hello World!</h1>
    We are using node <script>document.write(process.versions.node)</script>,
    Chromium <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>.-->
	<!---->
		<script type="text/javascript" src="./js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
		<script type="text/javascript" src="./node_modules/angular/angular.js"></script>
		<script type="text/javascript" src="./node_modules/angular-ui-router/release/angular-ui-router.js" ></script>
		<script type="text/javascript" src="./node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
		
		<script type="text/javascript" src="./node_modules/angular-animate/angular-animate.js"></script>
		<script type="text/javascript" src="./node_modules/angular-animate/angular-animate.min.js"></script>

		<script type="text/javascript" src="./node_modules/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="./node_modules/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="./node_modules/jQuery/tmp/jquery.js"></script>
		<script type="text/javascript" src="./js/vendor/bootstrap.min.js"></script>
		<script type="text/javascript" src="./node_modules/angular-spinner/angular-spinner.js"></script>
		<script type="text/javascript" src="./node_modules/angular-spinner/angular-spinner.min.js"></script>
		<script type="text/javascript" src="./node_modules/angular-theme-spinner/dist/angular-theme-spinner.min.js"></script>
		
		<script type="text/javascript" src="./js/main.js"></script>
		<script type="text/javascript" src="./js/app.js"></script>
		<script type="text/javascript" src="./js/controllers.js"></script>
		

		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.js"><\/script>')</script>
		
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X','auto');ga('send','pageview');

		</script>
  </body>
  <script>
    // You can also require other files to run in this process
    require('./renderer.js')	
  </script>
</html>
