<style type="text/css">
.menurow {
    padding-top: 4%;
    padding-bottom: 3%;
    height: 0%;
    background-color: #2D3E52;
    margin: 0px;
    border-bottom: solid 0.5px #ffffff;
}
.menurowrightbottom {
    border-top: solid 0.5px #ffffff;
    border-bottom: solid 0.5px #ffffff;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 200%;
    background-color :  #2D3E52;
}
.menurowleftbottom {
    border-top: solid 0.5px #ffffff;
    border-bottom: solid 0.5px #ffffff;
    border-right: solid 0.5px #ffffff;
}
.menurow > a > .col-md-3,.col-md-9{
    color: #ffffff;
    padding-left: 15%;

}
.menurow > a > .col-md-9 > p{
    padding-left: 5%;
    padding-top: 3%;
}
.menurow > a > .col-md-3,.col-md-9 > .glyphicon{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 250%;
}

.buttompage{
    position: absolute;
    bottom: 0%;
    width: 22% !important;
}
p.on-center4{
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 0px;
    font-size: 200%;
}

.buttompage > .row >.col-md-12{
    padding-left: 0px;
    padding-right: 1px;
}
.buttompage > .row >.col-md-12 > .txtinputtype{
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 200%;
    background-color :  #2D3E52;
    border: none;
    color:  #ffffff;
    border-top: solid 0.5px #ffffff;
}
.menurowrightbottom > input.form-control {
    background-color :  #2D3E52;
    border:none;
    font-size: 80%;
}

</style>
<div class="row menurow">
	<a ui-sref="clustering" ui-sref-opts="{reload:true}">
		<div class="col-md-3"> <div class='glyphicon glyphicon-repeat'></div></div>
		<div class="col-md-9"> <p> ล้าง </p> </div>
	</a>
</div>
<div class="row menurow">
	<a ui-sref="clustering" ui-sref-opts="{reload:true}">
		<div class="col-md-3"> <div class='glyphicon glyphicon-download-alt'></div></div>
		<div class="col-md-9"> <p> บันทึก </p> </div>
	</a>
</div>
<div class="row menurow">
	<a ui-sref="homepage" ui-sref-opts="{reload:true}">
		<div class="col-md-3"> <div class='glyphicon glyphicon-hand-left'></div></div>
		<div class="col-md-9"> <p> ย้อนกลับ </p> </div>
	</a>
</div>
<div class="buttompage">
    <div class="row">
        <div class="col-md-12"><input type="text" class="form-control txtinputtype" name="firstname" placeholder="รวม"></div>
    </div>
<div class="row">
    <div class="col-md-12"><input type="text" class="form-control txtinputtype" name="firstname" placeholder="ยอดยกมา"></div>
</div>

<div class="row">
    <div class="col-md-6 menurowleftbottom"> <p class = "on-center on-center4"> ทอน </p></div>
    <div class="col-md-6 menurowrightbottom"><input type="text" class="form-control on-center" name="firstname" placeholder="0.00" readonly = "false" ></div>
</div>
</div>