<style type="text/css">
.menurow {
    padding-top: 4%;
    padding-bottom: 3%;
    height: 0%;
    background-color: #2D3E52;
    margin: 0px;
    border-bottom: solid 0.5px #ffffff;
}
.menurow > a > .col-md-3,.col-md-9{
    color: #ffffff;
    padding-left: 15%;

}
.menurow > a > .col-md-9 > p{
    padding-left: 5%;
    padding-top: 3%;
}
.menurow > a > .col-md-3,.col-md-9 > .glyphicon{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 250%;
}

</style>
<div class="row menurow">
	<a ui-sref="clustering" ui-sref-opts="{reload:true}">
		<div class="col-md-3"> <div class='glyphicon glyphicon-repeat'></div></div>
		<div class="col-md-9"> <p> ล้าง </p> </div>
	</a>
</div>
<div class="row menurow">
	<a ui-sref="clustering" ui-sref-opts="{reload:true}">
		<div class="col-md-3"> <div class='glyphicon glyphicon-download-alt'></div></div>
		<div class="col-md-9"> <p> บันทึก </p> </div>
	</a>
</div>
<div class="row menurow">
	<a ui-sref="AssetAll" ui-sref-opts="{reload:true}">
		<div class="col-md-3"> <div class='glyphicon glyphicon-hand-left'></div></div>
		<div class="col-md-9"> <p> กลับสู่หน้าหลัก </p> </div>
	</a>
</div>
