<style type="text/css">
.row{
  vertical-align: left;
  padding-left:0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
</style>

<div ng-controller="kmeans" class = "layoutpage">
	<h2>ข้อมูลวัสดุอุปกรณ์</h2>
	<hr>
	<div class="row">
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4">
			<div class="row">
				<label class="control-label">วันที่</label>
		    	<input type='text' class="form-control on-center" ng-model="fullday" value="{{fullday}}" readonly = "false" />
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<label class="control-label">รหัสวัสดุอุปกรณ์</label>
				<input type="text" class="form-control" name="firstname">
			</div>
		</div>
		<div class="col-md-8">
			<div class="row">
				<label class="control-label">ชื่อวัสดุอุปกรณ์</label>
				<input type="text" class="form-control" name="firstname">
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<label class="control-label">ประเภทวัสดุอุปกรณ์</label>
				<select data-ng-options="o.name for o in options" data-ng-model="selectedOption" class="form-control"></select>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<label class="control-label">ราคา</label>
				<input type="number" class="form-control on-rigth" name="firstname">
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<label class="control-label">หน่วย</label>
		    	<select data-ng-options="o.name for o in options" data-ng-model="selectedOption" class="form-control"></select>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<label class="control-label">กลุ่มวัสดุอุปกรณ์</label>
				<select data-ng-options="o.name for o in options" data-ng-model="selectedOption" class="form-control"></select>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<label class="control-label">รูปแบบบาร์โค้ด</label>
				<input type="text" class="form-control" name="firstname">
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<label class="control-label">สถานะการใช้งาน</label>
				<select data-ng-options="o.name for o in options" data-ng-model="selectedOption" class="form-control"></select>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<fieldset class="form-group">
				    <label for="exampleTextarea">รายละเอียดเพิ่มเติม</label>
				    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</fieldset>
			</div>
		</div>
	</div>
</div>

