
<div ng-app="myApp" ng-controller="addemployee" >
 
  <div class="container">
    <h2>ข้อมูลงานพนักงาน</h2>
    <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
      <span class="sr-only">100% Complete</span>
    </div>
    </div>
        <p>**กรุณากรอกข้อมูลให้ครบถ้วน</p>
            <form role="form">
                <div class="form-group">
                    <div class="col-xs-4">
                        <label for="ex1">ชื่อ</label>
                        <input class="form-control" id="ex1" type="text">
                    </div>
                    <div class="col-xs-4">
                        <label for="ex2">นามสกุล</label>
                        <input class="form-control" id="ex2" type="text">
                    </div>
                    <Br>
                    
                 <div class="form-group">
                    <div class="col-xs-5">
                        <label for="radio">เพศ</label>
                   
                        <input type="radio" id="radio" value="M" >
                        <label for="radio"> ชาย</label>
                   
                        <input type="radio" id="radio" value="F" >
                        <label for="radio">หญิง</label>
                    </div>        
                    <div class="col-xs-4">
                        <label for="ex2">อายุ</label>
                        <input class="form-control" id="ex2" type="text">
                    </div>
                </div>
                    
                    
                     <div class="form-group">
                    <div class="col-xs-3">
                        <label for="ex1">ที่อยู่</label>
                        <input class="form-control" id="ex1" type="text">
                    </div>
                    </div>
                    
                    <div>
               <input type="text" id="theinput" name="theinput" />
                    <select class="btn btn-primary dropdown-toggle" name="thelist" onChange="combo(this, 'theinput')" onMouseOut="comboInit(this, 'theinput')" >
                        <option>status</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                    </div>
                    
                   
                       
                    <div class="col-xs-3">
                        <label for="ex1">ID</label>
                          <div class="dropdown">                         
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">กรุณาเลือกประเภทสินค้า
                                <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">ID</a></li>
                                        
                                    </ul>
                           </div> 
                    </div>
                        
                    <div class="col-xs-5">
                        <label for="ex2">INACTIVE</label>
                        <input class="form-control" id="ex2" type="text">
                    </div>
                    <div class="col-xs-2">
                        <label for="ex3">CODE</label>
                        <input class="form-control" id="ex3" type="text">
                    </div>
                </div> 
                
            </form>       
    </div>     
</div>
       