<div ng-app="myApp" ng-controller="kmeans" >
 
  <div class="container">
    <h2>เพิ่มข้อมูลสินค้า</h2>
    <div class="progress">
        
    <div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="87" style="width:87%">
      <span class="sr-only">70% Complete</span>
    </div>
    </div>
        <p>**กรุณากรอกข้อมูลให้ครบถ้วน</p>
            <form role="form">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label for="ex1">รหัสสินค้า/code</label>
                        <input class="form-control" id="ex1" type="text">
                    </div>
                    <div class="col-xs-5">
                        <label for="ex2">ชื่อสินค้า/Name</label>
                        <input class="form-control" id="ex2" type="text">
                    </div>
                    <div class="col-xs-2">
                       
                        <label for="ex3">ราคา/Price</label>
                        <input class="form-control" id="ex3" type="text" onKeyUp="if(isNaN(this.value)){ alert('*****กรุณากรอกตัวเลข******'); this.value='';}"/>
                    
                    </div>
                           
                </div> 
                <br>
      
                
            </form>
        <div class="form-group">
                    <div class="col-xs-3">
                        <label for="ex1">ประเภทสินค้า/Type</label>
                        
                            
                                <select class="form-control" name="size">
                                    <option value="">Choose a size</option>
                                    <option value="s">Small (S)</option>
                                    <option value="m">Medium (M)</option>
                                    <option value="l">Large (L)</option>
                                    <option value="xl">Extra large (XL)</option>
                                    <option value="">Choose a size</option>
                                    <option value="s">Small (S)</option>
                                    <option value="m">Medium (M)</option>
                                    <option value="l">Large (L)</option>
                                    <option value="xl">Extra large (XL)</option>
                                </select>
                            
                        
                    </div>
                    <div class="col-xs-5">
                        <label for="ex2">รายละเอียดสินค้า/item</label>
                        <input class="form-control" id="ex2" type="text">
                    </div>
                    <div class="col-xs-2">
                       
                        <label for="ex3">จำนวน/Unit</label>
                         <select class="form-control" name="size">
                                    <option value="">Choose a size</option>
                                    <option value="s">Small (S)</option>
                                    <option value="m">Medium (M)</option>
                                    <option value="l">Large (L)</option>
                                    <option value="xl">Extra large (XL)</option>
                                </select>
                    
                    </div>
           
       
                           
                </div>
          <div class="form-group">
                    <div class="col-xs-5">
                                       <label for="ex1">อื่นๆ/other</label>
                           <div class="input-group">
                               <input type="file" class="form-control"  file-model="myFile">
                                <span class="input-group-addon" ></span>
                            </div>
                    </div>
                   <div class="col-xs-3">
                        <label for="ex3">Order/QTY.</label>
                        <input class="form-control" type="text" name="text_plain" onKeyUp="if(isNaN(this.value)){ alert('*****กรุณากรอกตัวเลข******'); this.value='';}"/>   
                    </div>
                    <div class="col-xs-2">
                        <label for="ex2">ON_Order</label>
                        <input class="form-control" id="ex2" type="text">
                    </div>       
                </div>
        <div class="form-group">
                    <div class="col-xs-3">
                         <label for="ex3">ITEM_SENDBACK</label>
                        <input class="form-control" id="ex3" type="text">
                    </div>
                    <div class="col-xs-5">
                        <label for="ex2">ITEM_FORSALE</label>
                        <input class="form-control" id="ex2" type="text">
                    </div>
                    <div class="col-xs-2">
                        <label for="ex1">Status</label>
                          <div class="dropdown">                         
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Status
                                <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">INACTIV</a></li>
                                        <li><a href="#">CANCEL</a></li>
                                        
                                    </ul>
                           </div> 
                       
                       
     
                    </div>
                        
                </div>
        
        
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">info</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      @fat

Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.


  </div>
</div>
</div>
         
    
    </div>
    </div>
                <div class="form-group">
                    
                    <div class="col-xs-12">
                        
                    </div>     
                </div> 
                <div class="form-group">
                    
                    <div class="col-xs-12" align="right">
                        <button type="button" class="btn btn-primary btn-info-full next-step" style="width:100px;height:50px">Save</button>
                    </div>     
                </div> 
       
       

          

