
<style>
.row{
  vertical-align: left;
  padding-left:0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-left: -15px;
  margin-right: 0px;
}
</style>
  <div class="row">
    <div class="col-md-3">
      <a ui-sref="#" ui-sref-opts="{reload:true}" class="button">
      <div class ="iconP">
        <div class='glyphicon glyphicon-time'></div>
      </div>   
      <p>เปิด/ปิด วันทำการ</p>
    </a></div>
    <div class="col-md-3"> 
      <a ui-sref="#" ui-sref-opts="{reload:true}" class="button">
      <div class ="iconP">
        <div class='glyphicon glyphicon-refresh'></div>
      </div>   
      <p>เปลี่ยนรอบการทำงาน</p>
    </a></div>
    <div class="col-md-3"> 
      <a ui-sref="Order" ui-sref-opts="{reload:true}" class="button">
      <div class ="iconP">
        <div class='glyphicon glyphicon-barcode'></div>
      </div>   
      <p>ขายสินค้า</p>
    </a></div>
    <div class="col-md-3"> 
      <a ui-sref="#" class="button">
      <div class ="iconP">
        <div class='glyphicon glyphicon-cog'></div>
      </div>   
      <p>ตั้งค่าระบบ</p>
    </a></div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <a ui-sref="#" ui-sref-opts="{reload:true}" class="button">
      <div class ="iconP">
        <div class='glyphicon glyphicon-usd'></div>
      </div> 
      <p>จัดการเงินประจำวัน</p>
    </a></div>
    <div class="col-md-3">
      <a ui-sref="addemployee" ui-sref-opts="{reload:true}" class="button">
        <div class ="iconP">
        <div class='glyphicon glyphicon-user'></div>
        </div> 
        <p>ข้อมูลผู้ใช้</p>
      </a>
    </div>
    <div class="col-md-3">
      <a ui-sref="ReportAll" ui-sref-opts="{reload:true}" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-file'></div>
        </div> 
        <p>รายงาน</p>
      </a>
    </div>
    <div class="col-md-3">
      <a ui-sref="AssetAll" ui-sref-opts="{reload:true}" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-tags'></div>
        </div> 
        <p>วัสดุอุปกรณ์</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <a ui-sref="AddItem" ui-sref-opts="{reload:true}" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-qrcode'></div>
        </div> 
        <p>ข้อมูลสินค้า</p>
      </a>
    </div>
    <div class="col-md-3">
      <a ui-sref="#" ui-sref-opts="{reload:true}" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-off'></div>
        </div> 
        <p>เข้าสู่ระบบ</p>
      </a>
    </div>
    <div class="col-md-3">
      <!--<a href="#" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-time'></div>
        </div> 
        <p></p>
      </a>-->
    </div>
    <div class="col-md-3">
      <!--<a href="#" class="button">
        <div class ="iconP">
          <div class='glyphicon glyphicon-time'></div>
        </div> 
        <p>Link Button</p>
      </a>-->
    </div>
  </div>
